{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Musico</h1>
    <p class="lead">Les derniers albums sortis</p>
  </div>
</div>


<div class="container">
 {% for album in albums %}
    {% include "album_views/index.html.twig" %}
 {% endfor %}
</div>

{% endblock %}
